.css-naked-day /* displays special markup only if this css file excluded */
, [v-cloak] { /* remove content blinking while vue components loading */
	display: none;
}

[iam-body] {
	background-color: #000;
	color: tan;
	margin: 0;
	padding: 0;
}

[iam-app] {
	background-repeat: no-repeat;
	background-position-y: 160px;
}

/* #region iam-panel */
[iam-panel = "top"] {
	background-position: left bottom;
	font-family: "HoMM3 Small";
	height: 212px;
	margin-bottom: 38px;
	min-width: 1140px;
	position: relative;
}

[iam-panel]::before
, [iam-panel]::after {
	content: "";
	height: 90px;
	position: absolute;
	top: 0;
	width: 88px;
	z-index: 1;
}

[iam-panel]::before {
	background-position-x: -88px;
	left: 0;
}

[iam-panel]::after {
	right: 0;
}

[iam-panel-info] {
	box-sizing: border-box;
	font-size: 20px;
	margin: 0 auto;
	padding: 16px 142px 16px 196px;
	position: relative;
	width: 1138px;
}

[iam-panel-info ~= "spell"]::before {
	content: "";
	display: block;
	height: 122px;
	left: 0;
	position: absolute;
	width: 166px;
}

[iam-panel-info ~= "quicksand"]::before {
	background-position: -664px -122px;
}

[iam-panel-info ~= "skill"] {
	display: none;
}

[iam-panel-info-descr] {
	column-count: 2;
	column-gap: 42px;
	line-height: 1.2em;
	margin: 0;
	text-indent: 42px;
}

[iam-panel-info ~= "spell"] {
	height: 160px;
}

[iam-panel-info-skill-label] {
	display: inline-block;
	line-height: 1em;
	margin-right: 1ex;
}
/* #endregion */
