.css-naked-day /* displays special markup only if this css file excluded */
, [v-cloak] { /* remove content blinking while vue components loading */
	display: none;
}

[iam-body] {
	background-color: #000;
	color: tan;
	margin: 0;
	padding: 0;
}

[iam-app] {
	background-repeat: no-repeat;
	position: relative;
}

/* #region iam-panel */
[iam-panel = "top"] {
	background-position: left bottom;
	font-family: "HoMM3 Small";
	height: 212px;
	margin-bottom: 38px;
	min-width: 1140px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
}

[iam-panel]::before
, [iam-panel]::after
, [iam-hero-info]::after {
	content: "";
	height: 90px;
	position: absolute;
	top: 0;
	width: 88px;
	z-index: 3;
}

[iam-panel]::before {
	background-position-x: -88px;
	left: 0;
}

[iam-panel]::after {
	right: 0;
}

[iam-hero-info]::after {
	right: -10px;
	top: -10px;
}
/* #endregion */
