/* displays special markup only if this css file excluded */
.css-naked-day {
	display: none;
}

:root {
}

[iam-body] {
	--check-var: italic;

	color: orange;
}

a {
	font-style: var(--check-var);
}
