.css-naked-day /* displays special markup only if this css file excluded */
, [v-cloak] { /* remove content blinking while vue components loading */
	display: none;
}

[iam-body] {
	--check-var: italic;

	color: orange;
}

a {
	font-style: var(--check-var);
}
