[iam-magic-book] {
	box-sizing: border-box;
	width: 1140px;
	height: 766px;
	padding: 12px 152px 94px 150px;
	margin: 250px auto 0;
}

[iam-magic-book-pages] {
	height: 662px;
	gap: 0 28px;
}

[iam-magic-page] {
	padding: 34px 38px 0;
}

[iam-magic-page ~= "first"]::before {
	height: 136px;
	width: 320px;
	margin: 22px 0 34px;
}

[iam-magic-page ~= "earth"]::before {
	background-position-x: -320px;
}

[iam-magic-page ~= "fire"]::before {
	background-position-x: -640px;
}

[iam-magic-page ~= "water"]::before {
	background-position-x: -960px;
}

[iam-magic-page ~= "move"]::before
, [iam-magic-page ~= "all"]::before {
	display: none;
}

[iam-magic-book-page-btn] {
	background-color: transparent;
	height: 78px;
}

[iam-magic-book-page-btn = "prev"] {
	background-position-x: -58px;
	left: 0;
	top: 6px;
	width: 66px;
}

[iam-magic-book-page-btn = "next"] {
	right: 0;
	top: 0;
	width: 58px;
}
