[iam-panel-info] {
	box-sizing: border-box;
	margin: 0 auto;
	position: relative;
}

[iam-panel-info]::before {
	content: "";
	display: block;
	right: -20px;
	position: absolute;
}

[iam-panel-info-descr] {
	column-count: 2;
	column-fill: auto;
	margin: 0;
}
