[iam-panel-info] {
	font-size: 20px;
	padding: 16px 142px 16px 196px;
	width: 1138px;
}

[iam-panel-info ~= "spell"]::before {
	height: 122px;
	width: 166px;
}

[iam-panel-info ~= "quicksand"]::before {
	background-position: -664px -122px;
}

[iam-panel-info-descr] {
	column-gap: 42px;
	line-height: 1.2em;
	text-indent: 42px;
}

[iam-panel-info ~= "spell"] {
	height: 160px;
}
