[iam-popup-window] {
	color: #630;

	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	top: 12px;
	left: 50%;
	margin-left: 2px;
	height: 660px;
	width: 418px;
}

[iam-popup-content] {
	padding: 34px 38px;
}

[iam-popup-spell] {
	cursor: default;
}

[iam-popup-window-close] {
	background: transparent;
	border-style: none;
	display: block;
	height: 60px;
	right: 0;
	position: absolute;
	top: 0;
	width: 60px;
}

[iam-popup-window-close-text] {
	display: none;
}
